body {
    background-color: lightgoldenrodyellow;
}

#ArrayLoop-Container {
    border: 2px solid #8dad6e8a;
    height: 600px;
    width: 70%;
    background-color: rgba(172, 172, 49, 0.182);
    border-radius: 12px;
}

#ArrayLoop-MainTitle {
    border: 1px solid #4532;
    border-radius: 7px;
    transition: 0.4s;
    width: 50%;
    font-size: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#ArrayLoop-MainTitle:hover {
    border: 1px solid #313112;
    transition: 0.4s;
    border-radius: 7px;
    width: 50%;
    font-size: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#ArrayLoop-MainText {
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 20%;
    position: relative;
    color: darkgreen;
}

#ArrayLoop-Current-Boolean-Value {
    position: relative;
    top: 20%;
    color: darkgreen;
    font-size: 18px;
}

.arrayloop-button {
    border: 5px solid #2dc52d75;
    background-color: green;
    font-size: 20px;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

.arrayloop-button:hover {
    border: 5px solid #076b0775;
    background-color: green;
    font-size: 25px;
    color: white;
    transition: 0.4s;
}